body {
	background-color: #EFEFEF;
	margin: 0;
	padding: 0;
}

h1, h2, h3, p {
	font-family: "Roboto";
}

h1 {
	font-size: 20px;
}

h2 {
	font-size: 18px;
}

h3 {
	font-size: 14px;
}

h2 {
	padding: 0px;
	margin: 0px;
}