

@media only screen and (min-width: 768px) {
header {
    background: #bc0000;
    font-family: "Roboto";
}

header div {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
}

header img {
    width: 10%;
    height: auto;
}

.site-navigation ul, .sub-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.site-navigation ul li a, .sub-menu ul li a {
    text-decoration: none;
    color: #fff;
  margin: 0 1em;
}

.sub-menu{
  background: black;
  height: 40px;
}
}


/*

.site-navigation ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

.site-navigation ul li{
    margin-right: 1em;
}

.site-navigation ul li a{
    text-decoration: none;
    color: #fff;
}

.site-navigation ul ul{
    background: #000;
    font-size: 0.7em;
}



.site-navigation ul li a.current-overview{
    border-bottom: 2px solid #fff;
}

.site-navigation ul ul{
    width: 100%;
    background: #000;
    font-size: 0.6em;
}

.site-navigation ul ul li a{
    color: rgba(255, 255, 255, 0.5);
}
*/